.darkmode-toggle {
    background: #100f2c;
    width: 3rem;
    height: 3rem;
    position: fixed;
    border-radius: 50%;
    right: 32px;
    bottom: 32px;
    left: unset;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  [data-theme='dark'] .darkmode-toggle {
    background: #fff;
  }