<!--googleoff: all-->

<nav class="help-nav">

    <h3 class="{% if '/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/about">About </a></h3>
    <h3 class="{% if '/team/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/about/team">Team </a></h3>
    <h3 class="{% if '/history/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/about/history">History of ADS </a></h3>
    <h3 class="{% if '/adsug/adsug' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/about/adsug/adsug">ADS Users Group </a></h3>
    <h3 class="{% if '/documents/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/about/documents">Past Presentations</a></h3>

</nav>

<!--googleon: all-->
