
<nav class="navbar fluid navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand s-navbar-brand" href="https://ui.adsabs.harvard.edu/"><img class="s-ads-icon" src="{{ site.baseurl }}/about/img/transparent_logo.svg" alt="ads icon"/>
                <h1> <b>ads</b>beta</h1>
            </a>

        </div>   
</nav>

<div class="s-starry-background-wrapper">
    <section class="s-logo-header">
        <div>
                <img src="{{ site.baseurl }}/about/img/transparent_logo.svg" alt="The Astrophysics Data System Logo"/>
                <b>astrophysics</b>&nbsp;data system
        </div>
     </section>

</div>


