<!--googleoff: all-->

<nav class="help-nav">

    <div class="{% if '/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/scixabout">About </a></div>
    <div class="{% if '../team/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/scixabout/team">Team </a></div>
    <div class="{% if '../team/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/scixabout/advisory_board">SciX Advisory Board </a></div>
    <div class="{% if '../team/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/scixabout/ambassador">Ambassador Program </a></div>
    <div class="{% if '/history/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/scixabout/history">History of SciX </a></div>
    <div class="{% if '/careers/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/scixabout/careers">Careers@SciX </a></div>
</nav>

<!--googleon: all-->
