
<div class="smart-container">
  <nav class="top-nav header row">

          <div class="logo-container col-sm-4">
              <a  href="{{ site.baseurl }}/blog/"><img src="{{ site.baseurl }}/blog/images/blog_logo.png" alt="NASA ADS Blog"></a>
          </div>


  <div class="search-bar-container col-sm-6 col-sm-offset-2">

  <div class="pull-right">
    <script>
    (function() {
    var cx = '016381517138775266827:j_b8wqloe18';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
    })();
    </script>
    <gcse:search></gcse:search>
    </div>
  </div>

  </nav>

  <nav class="header row">
        <div class="col-sm-2 rss-container">
             <a href="{{ site.baseurl }}/common/feed.xml"><i class="fa fa-rss"></i> RSS Feed</a>
        </div>
          <div class="blog-links col-sm-5">
            <a href="{{ site.baseurl }}/blog">all blog posts</a> |
            <a href="{{ site.baseurl }}/blog/news">news</a> |
            <a href="{{ site.baseurl }}/blog/general">general</a> |
            <a href="{{ site.baseurl }}/blog/technical-posts">technical</a>
          </div>
          <div class="navbar-links col-sm-5">
                <a href="{{ site.baseurl }}/help/"><i class="fa fa-info-circle"></i> help</a>
                <a href="{{ site.baseurl }}/blog/"> <i class="fa fa-newspaper-o"></i> blog</a>
                <a href="{{ site.baseurl }}/help/whats_new"> <i class="fa fa-bullhorn"></i> what's new</a>
                <a href="https://ui.adsabs.harvard.edu/"><i class="fa fa-home"></i> back to ADS</a>
          </div>
  </nav>
</div>
