<footer>
  <div class="__footer_wrapper">
    <div class="__footer_brand">
      &copy; The SAO Astrophysics Data System
      <div class="__footer_brand_extra">
        <p>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          help[at]scixplorer.org
        </p>
        <p>
          SciX is a project created by the Astrophysics Data System (ADS), which
          is operated by the Smithsonian Astrophysical Observatory under NASA
          Cooperative Agreement <em>80NSSC21M0056</em>
        </p>
      </div>
      <div class="__footer_brand_logos">
        <a href="http://www.nasa.gov" target="_blank" rel="noreferrer noopener">
          <img
            src="{{ site.baseurl }}/help/common/images/nasa.svg"
            alt="NASA logo"
            id="nasa-logo"
          />
        </a>
        <a href="http://www.si.edu" target="_blank" rel="noreferrer noopener">
          <img
            id="smithsonian-logo"
            src="{{ site.baseurl }}/help/common/images/smithsonian.svg"
            alt="Smithsonian logo"
          />
        </a>
        <a
          href="https://www.cfa.harvard.edu/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <img
            src="{{ site.baseurl }}/help/common/images/cfa.png"
            alt="Harvard Center for Astrophysics logo"
            id="cfa-logo"
          />
        </a>
      </div>
    </div>
    <div class="__footer_list">
      <div class="__footer_list_title">Resources</div>
      <ul class="__footer_links">
        <li>
          <a href="{{site.baseurl}}/scixabout/">
            <i class="fa fa-question-circle" aria-hidden="true"></i> About SciX
          </a>
        </li>
        <li>
          <a href="{{site.baseurl}}/scixhelp/">
            <i class="fa fa-info-circle" aria-hidden="true"></i> SciX Help
          </a>
        </li>
        <li>
          <a href="{{site.baseurl}}/help/whats_new/">
            <i class="fa fa-bullhorn" aria-hidden="true"></i> What's New
          </a>
        </li>
        <li>
          <a href="{{site.baseurl}}/scixabout/careers/">
            <i class="fa fa-group" aria-hidden="true"></i> Careers@SciX
          </a>
        </li>
        <li>
          <a href="{{site.baseurl}}/help/accessibility/">
            <i class="fa fa-universal-access" aria-hidden="true"></i>
            Accessibility
          </a>
        </li>
      </ul>
    </div>
    <div class="__footer_list">
      <div class="__footer_list_title">Social</div>
      <ul class="__footer_links">
        <li>
          <a
            href="//twitter.com/scixcommunity"
            target="_blank"
            rel="noreferrer noopener"
          >
            <i class="fa fa-twitter" aria-hidden="true"></i> @scixcommunity
          </a>
        </li>
        <li>
          <a href="{{site.baseurl}}/blog/">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i> ADS Blog
          </a>
        </li>
      </ul>
    </div>
    <div class="__footer_list">
      <div class="__footer_list_title">Project</div>
      <ul class="__footer_links">
        <li>
          <a href="{{site.baseurl}}/help/privacy/">Privacy Policy</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/help/terms">Terms of Use</a>
        </li>
        <li>
          <a
            href="http://www.cfa.harvard.edu/sao"
            target="_blank"
            rel="noreferrer noopener"
            >Smithsonian Astrophysical Observatory</a
          >
        </li>
        <li>
          <a href="http://www.si.edu" target="_blank" rel="noreferrer noopener"
            >Smithsonian Institution</a
          >
        </li>
        <li>
          <a
            href="http://www.nasa.gov"
            target="_blank"
            rel="noreferrer noopener"
            >NASA</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
