<nav class="top-nav row">
<div class="logo-container col-sm-6">
         <a  href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/logo.png" alt="NASA ADS Help Pages"></a>

</div>
<div class="search-bar-container col-sm-6">
<div class="pull-right">
  <div id='cse' style='width: 100%;'>Loading</div>
  <script src='//www.google.com/jsapi' type='text/javascript'></script>
  <script type='text/javascript'>
  google.load('search', '1', {language: 'en', style: google.loader.themes.V2_DEFAULT});
  google.setOnLoadCallback(function() {
    var customSearchOptions = {};
    var orderByOptions = {};
    orderByOptions['keys'] = [{label: 'Relevance', key: ''} , {label: 'Date', key: 'date'}];
    customSearchOptions['enableOrderBy'] = true;
    customSearchOptions['orderByOptions'] = orderByOptions;
    customSearchOptions['overlayResults'] = true;
    var customSearchControl =   new google.search.CustomSearchControl('010769743734682606793:smmrakl8phk', customSearchOptions);
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    var options = new google.search.DrawOptions();
    options.setAutoComplete(true);
    customSearchControl.draw('cse', options);
  }, true);
  </script>
  </div>
</div>
</nav>
