<div>
  <nav class="navbar fluid navbar-inverse" aria-label="main navigation">
    <div class="navbar-header">
      <a class="navbar-brand s-navbar-brand" href="/{{ include.subpath }}"
        ><img
          class="s-ads-icon"
          src="/ext_assets/images/transparent_logo.svg"
          alt="ads icon"
        />
        <b>&nbsp;ads</b>{{ include.subtitle }}
      </a>
    </div>

    <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <button
            type="button"
            class="btn btn-link dropdown-toggle"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <i
              class="fa fa-question-circle about-page-icon"
              aria-hidden="true"
            ></i>
            About <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/about/" target="_blank" rel="noreferrer noopener">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                About ADS
              </a>
            </li>
            <li>
              <a
                href="/help/whats_new/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
                What's New
              </a>
            </li>
            <li>
              <a href="/blog/" target="_blank" rel="noreferrer noopener">
                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                ADS Blog
              </a>
            </li>
            <li>
              <a href="/help/" target="_blank" rel="noreferrer noopener">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                ADS Help Pages
              </a>
            </li>
            <li>
              <a href="/help/legacy/" target="_blank" rel="noreferrer noopener">
                <i class="fa fa-archive" aria-hidden="true"></i> ADS Legacy
                Services
              </a>
            </li>
            <li>
              <a
                href="/about/careers/"
                target="_blank"
                rel="noreferrer noopener"
              >
                <i class="fa fa-group" aria-hidden="true"></i>
                Careers@ADS
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="s-starry-background-wrapper">
    <section class="s-logo-header">
      <div>
        <a href="https://ui.adsabs.harvard.edu/">
          <img
            src="/ext_assets/images/transparent_logo.svg"
            alt="The Astrophysics Data System Logo"
          />
          <b>astrophysics</b>&nbsp;data system
        </a>
      </div>
    </section>
  </div>
</div>
