<div>
  <nav class="navbar fluid navbar-inverse" aria-label="main navigation">
    <div class="navbar-header">
      <a class="navbar-brand s-navbar-brand" href="/{{ include.subpath }}"
        ><img
          class="s-ads-icon"
          src="{{ site.baseurl }}/help/common/images/scix/FULLCOLORLIGHT-IsotypeNoBackground.svg"
          alt="scix icon"
        />
        <b>&nbsp;SciX</b>{{ include.subtitle }}
      </a>
    </div>

    <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <button
            type="button"
            class="btn btn-link dropdown-toggle"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <i
              class="fa fa-question-circle about-page-icon"
              aria-hidden="true"
            ></i>
            About <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/scixabout/">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                About SciX
              </a>
            </li>
            <li>
              <a href="/blog/scixblog/">
                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                Blog
              </a>
            </li>
            <li>
              <a href="/scixhelp/">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                SciX Help Pages
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="s-scix-background-wrapper">
    <section class="s-logo-header">
      <div>
        <a href="https://scixplorer.org/">
          <img
            src="{{ site.baseurl }}/help/common/images/scix/FULLCOLORLIGHT-IsotypeNoBackground.svg"
            alt="The SciX Logo"
          />
          NASA Science Explorer
        </a>
      </div>
    </section>
  </div>
</div>
