<div class="smart-container">
  <nav class="top-nav row header">
  <div class="logo-container col-sm-3">
           <a  href="{{ site.baseurl }}/help">
          <img src="{{ site.baseurl }}/img/logo.png" alt="NASA ADS Help Pages"></a>

  </div>


  <div class="search-bar-container col-sm-5 col-sm-offset-4">
  <div class="pull-right">
    <script>
    (function() {
    var cx = '016381517138775266827:j_b8wqloe18';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
    })();
    </script>
    <gcse:search></gcse:search>
    </div>
  </div>

  </nav>
  <nav class="header row">
    <div class="col-sm-6 col-sm-offset-6">

            <div class="navbar-links">
                <a href="{{ site.baseurl }}/help/"><i class="fa fa-info-circle"></i> help</a>
                <a href="{{ site.baseurl }}/blog/"> <i class="fa fa-newspaper-o"></i> blog</a>
                <a href="{{ site.baseurl }}/help/whats_new/"> <i class="fa fa-bullhorn"></i> what's new</a>
                <a href="https://ui.adsabs.harvard.edu/"><i class="fa fa-home"></i> back to ADS</a>

            </div>
    </div>
  </nav>
</div>
