<!--googleoff: all-->

<nav class="help-nav">

<div class="panel-group" id="accordion">

<div class="panel panel-default">
    <div class="panel-heading" id="gettingstarted-help">
        <button class="{% if page.url contains '/gettingstarted-scix/' %}expanded{% else %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#gettingstarted-items" aria-expanded="{% if page.url contains '/gettingstarted-scix/' %}true{% else %}false{% endif %}" aria-controls="gettingstarted-items">
            <span class="{% if page.url contains '/gettingstarted-scix/' %}
    active {% endif %}"> <i class="fa fa-lg fa-caret-right" aria-hidden="true"> </i>
    Getting Started</span>
        </button>
    </div>
    <div id="gettingstarted-items" class="panel-collapse collapse{% if page.url contains '/gettingstarted-scix/' %} in{% endif %}"  aria-labelledby="gettingstarted-help">
      <ul class="list-group">
            {% assign posts = site.categories.gettingstarted-scix %} {% if posts %} {% assign sorted_posts = posts | sort:"order" %} {% for post in sorted_posts %} {% if post.url %}
            <li class="{% if post.url == page.url %} active {% endif %} list-group-item">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endif %} {% endfor %} {% endif %}
        </ul>
    </div>
    </div>

  <div class="panel panel-default">
    <div class="panel-heading"  id="search-help">
        <button class="{% if page.url contains '/search-scix/' %}expanded{% else %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#search-items" aria-expanded="{% if page.url contains '/search-scix/' %}true{% else %}false{% endif %}" aria-controls="search-items">
            <span class="{% if page.url contains '/search-scix/' %} active {% endif %}"> <i class="fa fa-lg fa-caret-right" aria-hidden="true"> </i> Making a Query</span>
        </button>
    </div>
    <div id="search-items" class="panel-collapse collapse{% if page.url contains '/search-scix/' %} in{% endif %}"  aria-labelledby="search-help">
      <ul class="list-group">
            {% assign posts = site.categories.search-scix %} {% if posts %} {% assign sorted_posts = posts | sort:"order" %} {% for post in sorted_posts %} {% if post.url %}
            <li class="{% if post.url == page.url %} active {% endif %} list-group-item">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endif %} {% endfor %} {% endif %}
        </ul>
    </div>
    </div>

<div class="panel panel-default">
  <div class="panel-heading"  id="actions-help">
      <button class="{% if page.url contains '/actions-scix/' %}expanded{% else %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#actions-items" aria-expanded="{% if page.url contains '/actions-scix/' %}true{% else %}false{% endif %}" aria-controls="actions-items">
          <span class="{% if page.url contains '/actions-scix/' %} active {% endif %}"><i class="fa fa-lg fa-caret-right" aria-hidden="true"> </i> Search Results</span>
      </button>
  </div>
  <div id="actions-items" class="panel-collapse collapse{% if page.url contains '/actions-scix/' %} in{% endif %}"  aria-labelledby="actions-help">
    <ul class="list-group">
        {% assign posts = site.categories.actions-scix %} {% if posts %} {% assign sorted_posts = posts | sort:"order" %} {% for post in sorted_posts %} {% if post.url %}
        <li class="{% if post.url == page.url %} active {% endif %} list-group-item">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endif %} {% endfor %} {% endif %}
      </ul>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"  id="userpreferences-help">
      <button class="{% if page.url contains '/userpreferences-scix/' %}expanded{% else %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#userpreferences-items" aria-expanded="{% if page.url contains '/userpreferences-scix/' %}true{% else %}false{% endif %}" aria-controls="userpreferences-items">
          <span class="{% if page.url contains '/userpreferences-scix/' %} active {% endif %}"> <i class="fa fa-lg fa-caret-right" aria-hidden="true"> </i> User Preferences</span>
      </button>
  </div>
  <div id="userpreferences-items" class="panel-collapse collapse{% if page.url contains '/userpreferences-scix/' %} in{% endif %}"  aria-labelledby="userpreferences-help">
    <ul class="list-group">
        {% assign posts = site.categories.userpreferences-scix %} {% if posts %} {% assign sorted_posts = posts | sort:"order" %} {% for post in sorted_posts %} {% if post.url %}
        <li class="{% if post.url == page.url %} active {% endif %} list-group-item">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endif %} {% endfor %} {% endif %}
      </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"  id="libraries-help">
      <button class="{% if page.url contains '/libraries-scix/' %}expanded{% else %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#libraries-items" aria-expanded="{% if page.url contains '/libraries-scix/' %}true{% else %}false{% endif %}" aria-controls="libraries-items">
          <span class="{% if page.url contains '/libraries-scix/' %} active {% endif %}"> <i class="fa fa-lg fa-caret-right" aria-hidden="true"> </i> SciX Libraries</span>
      </button>
  </div>
  <div id="libraries-items" class="panel-collapse collapse{% if page.url contains '/libraries-scix/' %} in{% endif %}"  aria-labelledby="libraries-help">
      <ul class="list-group">
          {% assign posts = site.categories.libraries-scix %} {% if posts %} {% assign sorted_posts = posts | sort:"order" %} {% for post in sorted_posts %} {% if post.url %}
          <li class="{% if post.url == page.url %} active {% endif %} list-group-item">
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endif %} {% endfor %} {% endif %}
      </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"  id="orcid-help">
      <button class="{% if page.url contains '/orcid-scix/' %}expanded{% else %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#orcid-items" aria-expanded="{% if page.url contains '/orcid-scix/' %}true{% else %}false{% endif %}" aria-controls="orcid-items">
          <span class="{% if page.url contains '/orcid-scix/' %} active {% endif %}"> <i class="fa fa-lg fa-caret-right" aria-hidden="true"> </i> ORCID </span>
      </button>
  </div>
  <div id="orcid-items" class="panel-collapse collapse{% if page.url contains '/orcid-scix/' %} in{% endif %}"  aria-labelledby="orcid-help">
      <ul class="list-group">
          {% assign posts = site.categories.orcid-scix %} {% if posts %} {% assign sorted_posts = posts | sort:"order" %} {% for post in sorted_posts %} {% if post.url %}
          <li class="{% if post.url == page.url %} active {% endif %} list-group-item">
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endif %} {% endfor %} {% endif %}
      </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"  id="data_faq-help">
      <button class="{% if page.url contains '/data_faq-scix/' %}expanded{% else %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#data_faq-items" aria-expanded="{% if page.url contains '/data_faq-scix/' %}true{% else %}false{% endif %}" aria-controls="data_faq-items">
          <span class="{% if page.url contains '/data_faq-scix/' %} active {% endif %}"> <i class="fa fa-lg fa-caret-right" aria-hidden="true"> </i> Data & Curation </span>
      </button>
  </div>
  <div id="data_faq-items" class="panel-collapse collapse{% if page.url contains '/data_faq-scix/' %} in{% endif %}"  aria-labelledby="data_faq-help">
      <ul class="list-group">
          {% assign posts = site.categories.data_faq-scix %} {% if posts %} {% assign sorted_posts = posts | sort:"order" %} {% for post in sorted_posts %} {% if post.url %}
          <li class="{% if post.url == page.url %} active {% endif %} list-group-item">
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endif %} {% endfor %} {% endif %}
      </ul>
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading"  id="troubleshooting-help">
      <button class="{% if page.url contains '/troubleshooting-scix/' %}expanded{% else %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#troubleshooting-items" aria-expanded="{% if page.url contains '/troubleshooting-scix/' %}true{% else %}false{% endif %}" aria-controls="troubleshooting-items">
        <span class="{% if page.url contains '/troubleshooting-scix/' %} active {% endif %}"> <i class="fa fa-lg fa-caret-right" aria-hidden="true"> </i> Troubleshooting </span>
      </button>
    </div>
    <div id="troubleshooting-items" class="panel-collapse collapse{% if page.url contains '/troubleshooting-scix/' %} in{% endif %}"  aria-labelledby="troubleshooting-help">
      <ul class="list-group">
        {% assign posts = site.categories.troubleshooting-scix %} {% if posts %} {% assign sorted_posts = posts | sort:"order" %} {% for post in sorted_posts %} {% if post.url %}
        <li class="{% if post.url == page.url %} active {% endif %} list-group-item">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endif %} {% endfor %} {% endif %}
      </ul>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading"  id="policies-help">
      <button class="{% if page.url contains '/policies-scix/' %}expanded{% else %}collapsed{% endif %}" type="button" data-toggle="collapse" data-target="#policies-items" aria-expanded="{% if page.url contains '/policies-scix/' %}true{% else %}false{% endif %}" aria-controls="policies-items">
        <span class="{% if page.url contains '/policies-scix/' %} active {% endif %}"> <i class="fa fa-lg fa-caret-right" aria-hidden="true"> </i> Policies </span>
      </button>
    </div>
    <div id="policies-items" class="panel-collapse collapse{% if page.url contains '/policies-scix/' %} in{% endif %}"  aria-labelledby="policies-help">
      <ul class="list-group">
        {% assign posts = (site.posts | sort:"order") %} {% assign policies_posts = posts | where: "category", "policies-scix" %} {% if policies_posts.size > 0 %} {% for post in policies_posts %}
          <li class="{% if post.url == page.url %} active {% endif %} list-group-item">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %} {% endif %}
      </ul>
    </div>
  </div>

</div>

    <div class="{% if '/whats_new/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/scixhelp/whats_new/">What's New</a></div>
    <div class="{% if '/faq/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/scixhelp/faq-scix">Frequently Asked Questions </a></div>
    <div class="{% if '/api/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/scixhelp/api-scix">Using the SciX API </a></div>
    <hr>

            <div class><img src="{{ site.baseurl }}/help/common/images/github.png" alt="GitHub logo icon" width="24"> Edit help pages on <a href="https://github.com/adsabs/help">GitHub</a></div>


</nav>

<!--googleon: all-->
