<!--googleoff: all-->

<nav class="help-nav">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="quickstart-help">
        <a class="collapsed" role="button" data-toggle="collapse" href="#quickstart-items" aria-expanded="false" aria-controls="collapseThree">
            <h3 class="{% if '/search/index.html' == page.url %}
    active {% endif %}"> <i class="fa fa-lg fa-caret-right"> </i>
    Quick Start</h3>
        <a>
    </div>
    <div id="quickstart-items" class="panel-collapse collapse" role="tabpanel" aria-labelledby="quickstart-help">
      <ul class="list-group">
            {% assign posts = (site.categories.quickstart | sort:"order") %} {% for post in posts %} {% if post.url %}
            <a href="{{ site.baseurl }}{{ post.url }}">
                <li class="{% if post.url == page.url %} active {% endif %} list-group-item">{{ post.title }}</li>
            </a>
            {% endif %} {% endfor %}
        </ul>
    </div>
    </div>
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="search-help">
        <a class="collapsed" role="button" data-toggle="collapse" href="#search-items" aria-expanded="false" aria-controls="collapseThree">
            <h3 class="{% if '/search/index.html' == page.url %} active {% endif %}"> <i class="fa fa-lg fa-caret-right"> </i> Making a Query</h3>
        <a>
    </div>
    <div id="search-items" class="panel-collapse collapse" role="tabpanel" aria-labelledby="search-help">
      <ul class="list-group">
            {% assign posts = (site.categories.search | sort:"order") %} {% for post in posts %} {% if post.url %}
            <a href="{{ site.baseurl }}{{ post.url }}">
                <li class="{% if post.url == page.url %} active {% endif %} list-group-item">{{ post.title }}</li>
            </a>
            {% endif %} {% endfor %}
        </ul>
    </div>
    </div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="actions-help">
      <a class="collapsed" role="button" data-toggle="collapse" href="#actions-items" aria-expanded="false" aria-controls="collapseThree">
          <h3 class="{% if '/search/index.html' == page.url %} active {% endif %}"><i class="fa fa-lg fa-caret-right"> </i> Search Results</h3>
      <a>
  </div>
  <div id="actions-items" class="panel-collapse collapse" role="tabpanel" aria-labelledby="actions-help">
    <ul class="list-group">
        {% assign posts = (site.categories.actions | sort:"order") %} {% for post in posts %} {% if post.url %}
        <a href="{{ site.baseurl }}{{ post.url }}">
            <li class="{% if post.url == page.url %} active {% endif %} list-group-item">{{ post.title }}</li>
        </a>
        {% endif %} {% endfor %}
      </ul>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="userpreferences-help">
      <a class="collapsed" role="button" data-toggle="collapse" href="#userpreferences-items" aria-expanded="false" aria-controls="collapseThree">
          <h3 class="{% if '/search/index.html' == page.url %} active {% endif %}"> <i class="fa fa-lg fa-caret-right"> </i> User Preferences</h3>
      <a>
  </div>
  <div id="userpreferences-items" class="panel-collapse collapse" role="tabpanel" aria-labelledby="userpreferences-help">
    <ul class="list-group">
        {% assign posts = (site.categories.userpreferences | sort:"order") %} {% for post in posts %} {% if post.url %}
        <a href="{{ site.baseurl }}{{ post.url }}">
            <li class="{% if post.url == page.url %} active {% endif %} list-group-item">{{ post.title }}</li>
        </a>
        {% endif %} {% endfor %}
      </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="libraries-help">
      <a class="collapsed" role="button" data-toggle="collapse"  href="#libraries-items" aria-expanded="false" aria-controls="collapseThree">
          <h3 class="{% if '/search/index.html' == page.url %} active {% endif %}"> <i class="fa fa-lg fa-caret-right"> </i> ADS Libraries</h3>
      <a>
  </div>
  <div id="libraries-items" class="panel-collapse collapse" role="tabpanel" aria-labelledby="libraries-help">
      <ul class="list-group">
          {% assign posts = (site.categories.libraries | sort:"order") %} {% for post in posts %} {% if post.url %}
          <a href="{{ site.baseurl }}{{ post.url }}">
              <li class="{% if post.url == page.url %} active {% endif %} list-group-item">{{ post.title }}</li>
          </a>
          {% endif %} {% endfor %}
      </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="orcid-help">
      <a class="collapsed" role="button" data-toggle="collapse"  href="#orcid-items" aria-expanded="false" aria-controls="collapseThree">
          <h3 class="{% if '/search/index.html' == page.url %} active {% endif %}"> <i class="fa fa-lg fa-caret-right"> </i> ORCID </h3>
      <a>
  </div>
  <div id="orcid-items" class="panel-collapse collapse" role="tabpanel" aria-labelledby="orcid-help">
      <ul class="list-group">
          {% assign posts = (site.categories.orcid | sort:"order") %} {% for post in posts %} {% if post.url %}
          <a href="{{ site.baseurl }}{{ post.url }}">
              <li class="{% if post.url == page.url %} active {% endif %} list-group-item">{{ post.title }}</li>
          </a>
          {% endif %} {% endfor %}
      </ul>
  </div>
</div>

</div>

    <h3 class="{% if '/faq/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/help/faq">Frequently Asked Questions </a></h3>
    <h3 class="{% if '/api/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/help/api">Using the ADS API </a></h3>
    <h3 class="{% if '/logos/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/help/logos">Logos </a></h3>
    <h3 class="{% if '/privacy/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/help/privacy">Privacy Policy</a></h3>
    <h3 class="{% if '/terms/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/help/terms">Terms of Use</a></h3>

    <hr>

    <h3 class><img src="{{ site.baseurl }}/img/github.png" width="24"> Edit help pages on <a href="https://github.com/adsabs/help">GitHub</a></h3>


</nav>

<!--googleon: all-->
