<!--googleoff: all-->

<nav class="help-nav">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="quickstart-help">
        <a class="collapsed" role="button" data-toggle="collapse" href="#quickstart-items" aria-expanded="false" aria-controls="collapseThree">
            <h3 class="{% if '/search/index.html' == page.url %}
    active {% endif %}"> <i class="fa fa-lg fa-caret-right"> </i>
    Quick Start</h3>
        <a>
    </div>
    <div id="quickstart-items" class="panel-collapse collapse" role="tabpanel" aria-labelledby="quickstart-help">
      <ul class="list-group">
            {% assign posts = (site.categories.quickstart-scix | sort:"order") %} {% for post in posts %} {% if post.url %}
            <a href="{{ site.baseurl }}{{ post.url }}">
                <li class="{% if post.url == page.url %} active {% endif %} list-group-item">{{ post.title }}</li>
            </a>
            {% endif %} {% endfor %}
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="orcid-help">
        <a class="collapsed" role="button" data-toggle="collapse"  href="#orcid-items" aria-expanded="false" aria-controls="collapseThree">
            <h3 class="{% if '/search/index.html' == page.url %} active {% endif %}"> <i class="fa fa-lg fa-caret-right"> </i> ORCID </h3>
        <a>
    </div>
    <div id="orcid-items" class="panel-collapse collapse" role="tabpanel" aria-labelledby="orcid-help">
        <ul class="list-group">
            {% assign posts = (site.categories.orcid-scix | sort:"order") %} {% for post in posts %} {% if post.url %}
            <a href="{{ site.baseurl }}{{ post.url }}">
                <li class="{% if post.url == page.url %} active {% endif %} list-group-item">{{ post.title }}</li>
            </a>
            {% endif %} {% endfor %}
        </ul>
    </div>
  </div>

</div>

    <h3 class="{% if '/../blog/index.html' == page.url %} active {% endif %}"> <a href="{{ site.baseurl }}/help/">ADS Help</a></h3>

    <hr>

    <h3 class><img src="{{ site.baseurl }}/help/common/images/github.png" width="24"> Edit help pages on <a href="https://github.com/adsabs/help">GitHub</a></h3>


</nav>

<!--googleon: all-->
