

html {
    position: relative;
    min-height: 100%;
}/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
        margin: 0 0 300px; /* bottom = footer height */


}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 3;
}


/**
 * Images
 */
img {
    vertical-align: middle;
    max-width: 50%;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    color: $brand-color;
}


/**
 * Links
 */
a {
    color: $bright-brand;
    text-decoration: none;

    &:visited {
        color: darken($bright-brand, 20);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: $code-color;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}




.pull-right {
    float:right !important;
}

.pull-left{
    float:left !important;
}


/* 
for posts
 */

.left-nav {

    width: 20%;
    padding: 1%;
    border-radius: 2px;
    background-color: $nav-color;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow:auto;
    border-right: 1px solid rgb(231, 231, 231);

    .s-nav-header{

        a:hover, a:focus{
            text-decoration: none;
        }

        margin-bottom: $spacing-unit;
        text-align: center;
        h1 {
            margin-bottom: 0;
        }

        .s-nav-header-icon {
            color: $brand-color-muted;
            border: 1px solid $brand-color-muted;
            margin: 2%;
            padding: 4%;
            border-radius: 40px;
            font-size: 1.6em;

            &:hover {
               background-color:$brand-color-muted;
               color: #fff;
            }
        }
    }


    a {
       color: $nav-text-color;
    }

    ul {
        list-style: none;
        margin-left: 15px;
    }

    li {
        padding: 2px 10px;
        font-size: 15px;

    }

    li.active {

        padding-left: 6px;
        border-left: 4px solid $bright-brand;
        color: $bright-brand;

    }

    h3 {
        font-size: $base-font-size;
        margin-bottom: 6px;
        padding-left: 8px;
        font-weight: 500;

        a {
           color: $nav-header-color;
        }
    }

    h3.active { 
        padding-left: 4px;
        border-left: 4px solid $bright-brand;
        a {
          color: $bright-brand;

        }

    }
}

.main-content {
    width: 70%;
    margin-left: 25%;
    margin-top: $spacing-unit;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
