

.smart-container {
@include container-fixed;
 @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}


pre code {
    font-size:14px;
}

.main-content table {
    @extend .table;
    @extend .table-striped;
}
/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/**
 * Site header
 */

.navbar-links {
  padding: 1%;
  @media(min-width: $screen-md-min){
    text-align: right;
  }
 >a {
   display:inline-block;
   margin-right: 4%;
   font-size: 1.7rem;
 }
}

.blog-links {
  padding: 1%;
}

.post-title {
  font-size: 38px;
}

.rss-container {
  padding: 1%;
}



/**
 * Page content
 */
.page-content {
    // padding: $spacing-unit 0;
}

.page-heading {
    font-size: 34px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */
.post-header {
    margin: $spacing-unit 0;
}


//for subheadings within posts
h3 {
  font-weight: 500;
  font-size: 22px;
}


.search-bar-container *,
.search-bar-container *:before,
.search-bar-container *:after
 {
    -webkit-box-sizing: content-box !important;
     -moz-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

nav.header {
  border-bottom: 1px solid darken($grey-color-light, 8%);
  &:nth-of-type(2) {
    margin-bottom: 20px;
  }
}


nav.top-nav {
  padding: 2% 0 1% 0%;

  .logo-container img {
    width: 200px;
    margin-top: -4px;;
  }


}


h1, h2 {
    font-weight: 300;
}

.main-content {
  padding: 0 4%;
}

.s-starry-background-wrapper {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .5)), url("../../about/img/background.jpg");
  margin: 0 0px;
  background-attachment: fixed;

}


.s-logo-header {

  font-size: 40px;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;

  img {
    max-width: 75px;
    position: relative;
    top: -5px;
  }

  >div {
    position: relative;
    left: -2%;
  }

  background-attachment: fixed;
  @extend .row;
  padding-top: 20px;
  text-align: center;

}

.navbar{
    margin-bottom: 0!important;
    line-height: 62px;
    height: 62px;
    background-color: #1a1a1a;
    border-radius: 0px;
}

.navbar-brand {

  h1 {
    display : inline;
    color: #fff !important;
    position: relative;
    top: 0px;
    left: 5px;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    letter-spacing: .1rem;

  }

  img {
    display : inline-block;
  }
}

  .s-ads-icon {
    height: 45px;
    position: relative;
    top: -4px;
    left: 6px;
  }

.s-footer {

  background-color:  #E0E0E0;
  color: lighten($text-color, 10%);
   padding: 16px 0;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  margin: 0 -15px;
  position: relative;
  z-index: 4;
  border-top: 1px solid #D8D8D8;
   line-height: 1.4;

      
  .top-ads-links {
    margin: -31px -50px -15px -50px;
     padding: 29px 15px 38px;

    h4 {
      display: inline-block;
      margin-left: 45px;
      padding-top: 27px;
      font-weight: 300;
       font-size: 19px;
    }
    h4:first-of-type {
      margin-left:0;
    }

  }

  p {
      margin-top: 0px;
  }

  img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
    max-width: 120px;
    position: relative;
    top: 12px;
    margin-left: 2%;
  }

  img.smithsonian{
    width: 67px;
    margin-right: 2%;
  }

  .s-help {
    text-align: center;
    font-size: 18px;

  }

}

.scalable {
  overflow: hidden;
}

.scalable iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.scalable .scalable-content {
  height: 0;
  position: relative;
}

.scalable-16-9 .scalable-content {
  /* Percentage from 9 divided by 16 for ratio of 16:9. */
  padding-bottom: 56.25%;
}
