

.smart-container {
@include container-fixed;
 @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}


pre code {
    font-size:14px;
}

.main-content table {
    @extend .table;
    @extend .table-striped;
}
/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/**
 * Site header
 */

.navbar-links {
  padding: 1%;
  @media(min-width: $screen-md-min){
    text-align: right;
  }
 >a {
   display:inline-block;
   margin-right: 4%;
   font-size: 1.7rem;
 }
}

.blog-links {
  padding: 1%;
}

.rss-container {
  padding: 1%;
}



/**
 * Page content
 */
.page-content {
    // padding: $spacing-unit 0;
}

.page-heading {
    font-size: 34px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */
.post-header {
    margin: $spacing-unit 0;
}


//for subheadings within posts
h3 {
  font-weight: 500;
  font-size: 22px;
}


.search-bar-container *,
.search-bar-container *:before,
.search-bar-container *:after
 {
    -webkit-box-sizing: content-box !important;
     -moz-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

nav.header {
  border-bottom: 1px solid darken($grey-color-light, 8%);
  &:nth-of-type(2) {
    margin-bottom: 20px;
  }
}


nav.top-nav {
  padding: 2% 0 1% 0%;

  .logo-container img {
    width: 200px;
    margin-top: -4px;;
  }


}


h1, h2 {
  font-weight: 300;
}

.main-content {
  padding: 0 6%;
}
