

.smart-container {
@include container-fixed;
 @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}


pre code {
    font-size:14px;
}

.main-content table {
    @extend .table;
    @extend .table-striped;
}
/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/**
 * Site header
 */

.navbar-links {
  padding: 1%;
  @media(min-width: $screen-md-min){
    text-align: right;
  }
 >a {
   display:inline-block;
   margin-right: 4%;
   font-size: 1.7rem;
 }
}

.blog-links {
  padding: 1%;
}

.post-title {
  font-size: 38px;
}

.rss-container {
  padding: 1%;
}



/**
 * Page content
 */
.page-content {
    // padding: $spacing-unit 0;
}

.page-heading {
    font-size: 34px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */
.post-header {
    margin: $spacing-unit 0;
}


//for subheadings within posts
h3 {
  font-weight: 500;
  font-size: 22px;
}


.search-bar-container *,
.search-bar-container *:before,
.search-bar-container *:after
 {
    -webkit-box-sizing: content-box !important;
     -moz-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

nav.header {
  border-bottom: 1px solid darken($grey-color-light, 8%);
  &:nth-of-type(2) {
    margin-bottom: 20px;
  }
}


nav.top-nav {
  padding: 2% 0 1% 0%;

  .logo-container img {
    width: 200px;
    margin-top: -4px;;
  }


}


h1, h2 {
    font-weight: 300;
}

.main-content {
  padding: 0 4%;
}

.s-starry-background-wrapper {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .5)), url("../../about/img/background.jpg");
  margin: 0 0px;
  background-attachment: fixed;

}


.s-logo-header {

  font-size: 40px;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;

  img {
    max-width: 75px;
    position: relative;
    top: -5px;
  }

  >div {
    position: relative;
    left: -2%;
  }

  background-attachment: fixed;
  @extend .row;
  padding-top: 20px;
  text-align: center;

}

.navbar{
    margin-bottom: 0!important;
    line-height: 62px;
    height: 62px;
    background-color: #1a1a1a;
    border-radius: 0px;
}

.navbar-brand {

  h1 {
    display : inline;
    color: #fff !important;
    position: relative;
    top: 0px;
    left: 5px;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    letter-spacing: .1rem;

  }

  img {
    display : inline-block;
  }
}

  .s-ads-icon {
    height: 45px;
    position: relative;
    top: -4px;
    left: 6px;
  }

.__footer_wrapper {
  background-color: #484f4f;
  color: white;
  //font-size: 1.1em;
  font-size: 0.97058824em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $screen-sm-min) {
    flex-direction: row;
  }

   p {
     font-size: 16px;
  }

  &>* {
    padding: 0 30px;
  }
  .__footer_brand {
    line-height: 1.428571429;
  }
  .__footer_brand_extra {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7em;
    max-width: 300px;
    @media (min-width: $screen-sm-min) {
      width: 100%;
    }
  }

  .__footer_brand_logos  {
    #nasa-logo {
      width: 80px;
    }
    #smithsonian-logo {
      width: 66px;
    }
    #cfa-logo {
      width: 100px;
      padding-left: 5px;
    }
  }
}  

.__footer_links {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
    &:hover {
      color: #5683e0;
    }
  }

  li {
    line-height: 1.25;
    margin-bottom: 8px;
  }
}

.__footer_list_title {
  font-weight: 400;
  margin-bottom: 1em;
}

.s-footer {
  width: 100%;
}

.scalable {
  overflow: hidden;
}

.scalable iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.scalable .scalable-content {
  height: 0;
  position: relative;
}

.scalable-16-9 .scalable-content {
  /* Percentage from 9 divided by 16 for ratio of 16:9. */
  padding-bottom: 56.25%;
}


html, body {
  height: 100%;
}

summary {
  color: #2169DA
}

details {
  border: 1px solid darkgrey;
  padding: 1rem;
  border-radius: 10px;
}

