/*
 * Style tweaks
 * --------------------------------------------------
 */
html {
    overflow-y: visible;
}
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: $screen-sm-max) {


  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }


  .row-offcanvas-left {
    left: 0;
  }


  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }


  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}


.left-nav {

  margin-top: 20px;
  padding-bottom: 20px;

  .nav-blog-container {
      padding-left: 2%;

  }

    ul a {
       color: $nav-text-color;
    }

    ul {
        list-style: none;
    }

    li {
          padding: 2px 4px;
          font-size: 16px;
          border-left: 4px solid transparent

    }


    h3 {
        font-size: $base-font-size;
        font-weight: bold;
        padding-left: 2%;
        font-weight: 500;
        font-size: 17px;
        text-decoration: none;
        margin: 20px 0;
        &:active {
          text-decoration: none;
        }
        &:hover {
          text-decoration: none;
        }
        &:focus {
          text-decoration: none;
        }

        a {
          color: $text-color;
        }

    }

    .panel-heading h3 {
      margin: 10px 0;
    }

    .panel-heading > a {
      &:active {
        text-decoration: none;
      }
      &:hover {
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
      color: $text-color;
      width: 100%;
      height: 100%;
      display:block;

    }

    .panel-heading {
      background-color : #fff;
    }

    li.list-group-item {
      padding-left: 10%;
      background-color: lighten($grey-color-light, 2%);
      border: none;
      border-left: 4px solid transparent !important;
    }

    li.active.list-group-item {
      border-radius: 0 !important;
      background-color: #fff;
      border-left: 4px solid #4073dd !important;
      background: #C8DEFF;
      color: #2169DA;
    }

}
