/*
 * Style tweaks
 * --------------------------------------------------
 */
html {
    overflow-y: visible;
}
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: $screen-sm-max) {


  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

 
  .row-offcanvas-left {
    left: 0;
  }


  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }


  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}


.left-nav {

  .nav-blog-container {
      padding-left: 2%;

  }

  ul {
    padding-left:2.5%;
  }


    .s-logo {
          max-width: 250px;
          width: 65%;
    }

         .s-nav-header-icon {
            color: $bright-brand;
            margin: 2%;
            padding: 4%;
            border-radius: 40px;
            font-size: 1.6em;

            &:hover {
               background-color:$bright-brand;
               color: #fff;
            }
    
        }

        .header-icon-container {
            margin-top: 15px;
        }


    ul a {
       color: $nav-text-color;
    }

    ul {
        list-style: none;
    }

    li {
          padding: 3px 0px;
          font-size: 16px;
          font-weight:300;

    }

    li.active {

        padding-left: 6px;
        border-left: 4px solid $bright-brand;
        color: $bright-brand;

    }

    h3 {
        font-size: $base-font-size;
        margin-bottom: 6px;
        padding-left: 2%;
        font-weight: 500;

        a {
           color: $nav-header-color;
        }
    }

    h3.active { 
        padding-left: 4px;
        border-left: 4px solid $bright-brand;
        a {
          color: $bright-brand;

        }

    }
}

