<div id="js-sidebar" class="sidebar-shell">
  <div class="js-toggle-list sidebar-module expandable">
    <ul>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/v1/">Overview</a></h3>
        <ul class="js-guides">
          <li><a href="/v1/oauth/">OAuth</a></li>
          <li><a href="/v1/oauth_authorizations/">OAuth Authorizations API</a></li>
          <li><a href="/v1/auth/">Other Authentication Methods</a></li>
          <li><a href="/v1/troubleshooting/">Troubleshooting</a></li>
          <li><a href="/v1/versions/">Versions</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/v1/search/">Search </a></h3>
        <ul class="js-guides">
	  <li><a href="/v1/search/fields/">Fields</a></li>
          <li><a href="/v1/search/qlanguage/">Query Syntax </a></li>
          <li><a href="/v1/search/old/">Old github</a></li>
        </ul>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/v1/metrics">Metrics</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/v1/export">Export</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/v1/libraries">Private Libraries</a></h3>
      </li>
      <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/v1/myads/">MyADS</a></h3>
	<ul class="js-guides">
          <li><a href="/v1/myads/bumblebee/">Bumblebee Preferences</a></li>
        </ul>

      </li>

       <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/v1/orcid/">ORCiD</a></h3>
	<ul class="js-guides">
          <li><a href="/v1/orcid/edits/">Editing ORCiD Profile</a></li>
        </ul>

      </li>
     <li class="js-topic">
        <h3><a href="#" class="js-expand-btn collapsed arrow-btn" data-proofer-ignore></a><a href="/v1/vis">Visualizations</a></h3>
        <ul class="js-guides">
          <li><a href="/v1/vis/wordcloud/">Wordcloud</a></li>
          <li><a href="/v1/vis/paper-network/">Paper Network</a></li>
        </ul>
      </li>

    </ul>
  </div> <!-- /sidebar-module -->
  <div class="sidebar-module notice">
    <p>This website is a <a href="https://github.com/github/developer.github.com" target="_blank">public GitHub repository</a>. Please help us by forking the project and adding to it.</p>
  </div>
	<div class="sidebar-module api-status"><a href="https://status.github.com" class="unknown">API Status</a></div>
</div><!-- /sidebar-shell -->
