---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit:     30px;

$brand-color:       #1c459b;
$bright-brand:     lighten($brand-color, 20);
$brand-color-muted: lighten($bright-brand, 15);


$grey-color:       #555;
$grey-color-light: #eee;
$grey-color-dark:  #333;

$text-color:       lighten($grey-color-dark, 14%);

$background-color: #fff;

$code-color: #F8F8F8;




$on-palm:          600px;
$on-laptop:        800px;

$nav-color:        #fff;
$nav-header-color:  desaturate($brand-color, 30);
$nav-text-color:  $text-color;


/* ==========================================================================
   .default-layout is a plain layout, just used for job announcements right now
   ========================================================================== */

.default-layout h1 {
  font-weight: bold;
}

.default-layout {
  padding-bottom: 5rem !important;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "bootstrap",
        "layout",
        "sidebar";


//general styles

//p {
//  color: lighten($text-color, 5%);
//}

/*
For all changes that can't be made by altering the ads-variables file
including reset-like things
*/

h1, h2, h3 {
  font-weight: 300;
}

.modal-header {
  min-height: 50px;
}
.modal-content {
  margin-top: 30%;
}

.modal-backdrop {
  //why is this neccessary???
  z-index: 3;
}

.modal-title, .panel-default .panel-heading  {
  background-color: #fff;
  font-weight: 300;
  font-size: 26px;
}

textarea[disabled]{
  background-color: darken($gray-lighter, 5%);
}

.btn:active {
  outline: none !important;
}


// overriding button link focus
.btn-link:focus {
  outline:none;
  cursor: pointer;
}


.navbar {
  margin-bottom: 0px !important;
}

.open .dropdown-toggle.btn-default {
  background-color: white;
}


.pagination {
  display:inline-block;
  padding-left:0;
  margin: 0;
}

.btn {
  border-radius: $border-radius-large;
  transition : all, .5s;
}

.btn-success, .btn-danger, .btn-info, .btn-warning, .btn-primary, .btn-primary-faded {

  &:hover {
    box-shadow : 1px 1px 6px $gray;
  }
}

.btn-success.btn-sm, .btn-info.btn-sm, .btn-danger.btn-sm, .btn-warning.btn-sm, .btn-primary.btn-sm, .btn-primary-faded.btn-sm {

  &:hover {
    box-shadow : 1px 1px 4px $gray;
  }
}


.btn-success.btn-xs, .btn-info.btn-xs, .btn-danger.btn-xs, .btn-warning.btn-xs, .btn-primary.btn-xs, .btn-primary-faded.btn-xs {

  &:hover {
    box-shadow : 1px 1px 2px $gray;
  }
}


.btn-default {
  &:hover {
    background-color: #fff;
    box-shadow : 1px 1px 4px $gray-light;
  }

  &:focus {
    background-color: white;
  }
}


.btn-warning:hover {
  background-color: darken($brand-warning, 4%);
}

.btn-default-flat {
  @extend .btn-default;
}

.btn-default-flat:hover{
  background-color: white;
}

.btn-default-flat:focus{
  background-color: white;
}

//so styling will still be nice when the dropdown
//menu is a div, not an ul
.dropdown-menu {
  min-width: 200px;
  ul {
    list-style: none;
    padding-left: 0;
  }

  li.divider {
    margin: 5px 0;
  }

  li:hover {
    background-color: $gray-lighter;
  }
}

.nav>.dropdown>.btn-link{
  font-size: 17px;
  font-weight: 300;
}


/*fully disable dropdown links */

.disabled{
  cursor: not-allowed;
}
.disabled {
  pointer-events: none;
}

p {
  font-size: 16px;
}

//not sure why this is necessary, bootstrap overrides this somewhere else
.has-feedback label ~ .form-control-feedback {
  top: 31px !important;
}

.well {

  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #F7F6F6;
  border: 1px solid #e3e3e3;
  border-radius: 0px;
  box-shadow: none;
}

.tooltip .tooltip-inner {
  font-size: $font-size-base;
  padding: 6px;
}
