---
layout: about_layout
---

<div class="row row-offcanvas row-offcanvas-left">
  {% for js in page.jsarr %}
  <script type="text/javascript">
    {% include {{ js }} %}
  </script>
  {% endfor %}

  <div class="col-xs-6 col-sm-6 col-md-3 left-nav sidebar-offcanvas">
    {%include about-left-nav.html %}
  </div>

  <div class="post main-content col-xs-12 col-md-9">
    <button
      class="btn btn-primary visible-sm-inline-block visible-xs-inline-block"
      data-toggle="off-canvas"
    >
      toggle sidebar
    </button>

    <header class="post-header">
      {%unless page.no-header %}
      <h2 class="post-title">{{ page.title }}</h2>
      {% if page.subtitle %}
      <h4 class="post-subtitle" style="color: #666; margin-top: -10px;">{{ page.subtitle }}</h4>
      {% elsif page.team_id %}
        {% assign team_member = site.data.team.team_members | where: "id", page.team_id | first %}
        {% if team_member %}
      <h4 class="post-subtitle" style="color: #666; margin-top: -10px;">{{ team_member.title }}</h4>
        {% endif %}
      {% endif %}
      {% endunless %}
    </header>

    <article class="post-content">{{ content }}</article>
  </div>
</div>
