---
layout: blog_layout_scix
---

<div class="row row-offcanvas row-offcanvas-left">
  <div
    class="post main-content col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1"
  >
    <header class="post-header">
      {%unless page.no-header %}
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-author">
{% assign authorCount = page.author | size %}
{% assign positionCount = page.position | split: ", " | size %}
{% if authorCount == 0 %}
    No author
{% elsif authorCount == 1 %}
    {{ page.author | first }}
{% else %}
    {% for author in page.author %}
        {% if forloop.first %}
            {{ author }}
              {% if positionCount > 1 %}
                <b>({{ page.position[forloop.index0] }}),</b>
              {% endif %}
        {% elsif forloop.last %}
            and {{ author }} <b>({{ page.position[forloop.index0] }})</b>
        {% else %}
            {{ author }} <b>({{ page.position[forloop.index0] }})</b>,
        {% endif %}
    {% endfor %}
{% endif %}
{% if positionCount == 1 %}
    <b>({{ page.position }})</b>
{% endif %}
</p>
      <p class="post-date">{{ page.date | date_to_string }}</p>

      {% if page.comment %}
      <hr />
      {{ page.comment }} {% endif %}

      <hr />

      {% endunless %}
    </header>

    {% if page.repost %}
    <small>
      <blockquote>
        <p class="text-info">
          This post was originally published elsewhere and has been put here
          with the authors permission. You can see where it was originally
          published <a href="{{ page.repost }}">here</a>.
        </p>
      </blockquote>
    </small>
    {% endif %}

    <article class="post-content">{{ content }}</article>
    <hr />
    <p>Questions or feedback? Contact us at <a href="mailto:help@scixplorer.org">help@scixplorer.org</a>.</p>
  </div>
</div>
