<!DOCTYPE html>
<html>
  {% include head_default.html %}

  <body>
    {% include header_default.html %}

    <div class="page-content smart-container">{{ content }}</div>

    {% include footer_default.html %}
    <div id="darkSwitch" class="darkmode-toggle" title="Turn on dark mode">
      🌓
    </div>
    <script src="/help/common/js/dark-mode-switch.js"></script>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"
  ></script>
</html>
